In [5]:
from pymongo import MongoClient
import urllib
client=MongoClient('mongodb+srv://joaviav:' + urllib.parse.quote("jo@V3500") + '@cluster0-aejkg.gcp.mongodb.net/Companies?retryWrites=true&w=majority')
db=client.Companies

# Answers
### 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.

In [6]:
print(list(db['Companies'].find({'name':'Babelgum'},{'name':1,'_id':0})))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [7]:
list(db['Companies'].find(filter={'number_of_employees':{'$gt':5000}},sort=[('number_of_employees',1)], limit=20, projection={'name':1,'_id':0}))

[{'name': 'Nintendo'},
 {'name': 'Hexaware Technologies'},
 {'name': 'Facebook'},
 {'name': 'OpenText'},
 {'name': 'LSI'},
 {'name': 'CPM Braxis'},
 {'name': 'Microchip Technologies'},
 {'name': 'Mediaset'},
 {'name': 'Mindray Medical International'},
 {'name': 'Baidu'},
 {'name': 'Dentsu'},
 {'name': 'Tata Communications'},
 {'name': 'Atmel'},
 {'name': 'Acxiom'},
 {'name': 'Acxiom'},
 {'name': 'SRA International'},
 {'name': "Moody's"},
 {'name': 'ManTech'},
 {'name': 'Adobe Systems'},
 {'name': 'Broadcom'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fileds.

In [8]:
list(db['Companies'].find({'$and':[{'founded_year':{'$gte':2000}},{'founded_year':{'$lte':2005}}]},limit=5,projection={'founded_year':1,'name':1,'_id':0}))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [9]:
list(db['Companies'].find(filter={'$and':[{'founded_year':{'$lt':2010}},{'ipo.valuation_amount':{'$gt':100000000}}]}, projection={'_id':0,'ipo.valuation_amount':1,'name':1}))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'ChannelAdvisor', 'ipo': {'valuation_amount': 287000000}},
 {'name': 'Jive Software', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Wix', 'ipo': {'valuation_amount': 750000000}},
 {'name': 'Shutterfly', 'ipo': {'valuation_amount': 350000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'Salesforce', 'ipo': {'valuation_amount': 110000000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'QuinStreet', 'ipo': {'valuation_amount': 140000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'Infoblox', 'ipo': {'valuation_amount': 824000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Marketo', 'ipo': {'valuation_amount': 465000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'Geeknet', 'ipo': {'valuation_amount': 134000000}},
 {'name': 'Opsware', 'ipo': {'valuation_amount': 450000000}},
 {'name': 'Telenav', 'ipo': {'valuation_amount': 337000000}},
 {'name': 'Rally Software', 'ipo': {'valuation_amount': 315000000}},
 {'name': 'BrightSource Energy', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Mixi', 'ipo': {'valuation_amount': 970000000}},
 {'name': 'QlikTech', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'SolarWinds', 'ipo': {'valuation_amount': 803000000}},
 {'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Tudou', 'ipo': {'valuation_amount': 174000000}},
 {'name': 'DemandTec', 'ipo': {'valuation_amount': 245000000}},
 {'name': 'Cornerstone OnDemand', 'ipo': {'valuation_amount': 900000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'Millennial Media', 'ipo': {'valuation_amount': 973500000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [10]:
list(db['Companies'].find(filter={'$and':[{'founded_year':{'$lt':2005}},{'number_of_employees':{'$lt':1000}}]},sort=[('number_of_employees',1)], limit=10, projection={'_id':0,'ipo.valuation_amount':1,'name':1}))

[{'name': 'Fox Interactive Media'},
 {'name': 'Skype'},
 {'name': 'Ticketmaster'},
 {'name': 'stylediary'},
 {'name': 'MindTouch'},
 {'name': 'Simpy'},
 {'name': 'Eurekster'},
 {'name': 'Compete'},
 {'name': 'EditGrid'},
 {'name': 'Monster'}]

### 6. All the companies that don't include the `partners` field.

In [11]:
list(db['Companies'].find({'partners':{'$exists':False}}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [12]:
list(db['Companies'].find({'category_code':None},projection={'name':1,'_id':0},limit=5))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [18]:
list(db['Companies'].find(filter={'$and':[{'number_of_employees':{'$gte':100}},{'number_of_employees':{'$lt':1000}}]},sort=[('number_of_employees',-1)], limit=10, projection={'_id':0,'name':1,'number_of_employees':1}))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Workday', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price descendently.

In [20]:
list(db['Companies'].find({'ipo.valuation_amount':{'$ne':None}},sort=[('ipo.valuation_amount',-1)],projection={'name':1,'ipo.valuation_amount':1,'_id':0}))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'RPX Corporation', 'ipo': {'valuation_amount': 1096000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'Jive Software', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'BrightSource Energy', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'QlikTech', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Millennial Media', 'ipo': {'valuation_amount': 973500000}},
 {'name': 'Mixi', 'ipo': {'valuation_amount': 970000000}},
 {'name': 'Cornerstone OnDemand', 'ipo': {'valuation_amount': 900000000}},
 {'name': 'Infoblox', 'ipo': {'valuation_amount': 824000000}},
 {'name': 'SolarWinds', 'ipo': {'valuation_amount': 803000000}},
 {'name': 'Wix', 'ipo': {'valuation_amount': 750000000}},
 {'name': 'Marketo', 'ipo': {'valuation_amount': 465000000}},
 {'name': 'Opsware', 'ipo': {'valuation_amount': 450000000}},
 {'name': 'Emdeon', 'ipo': {'valuation_amount': 367350000}},
 {'name': 'Shutterfly', 'ipo': {'valuation_amount': 350000000}},
 {'name': 'Telenav', 'ipo': {'valuation_amount': 337000000}},
 {'name': 'Rally Software', 'ipo': {'valuation_amount': 315000000}},
 {'name': 'STR', 'ipo': {'valuation_amount': 300000000}},
 {'name': 'Brightcove', 'ipo': {'valuation_amount': 290000000}},
 {'name': 'ChannelAdvisor', 'ipo': {'valuation_amount': 287000000}},
 {'name': 'Elster Group', 'ipo': {'valuation_amount': 275000000}},
 {'name': 'DemandTec', 'ipo': {'valuation_amount': 245000000}},
 {'name': 'KIT digital', 'ipo': {'valuation_amount': 235000000}},
 {'name': 'Tudou', 'ipo': {'valuation_amount': 174000000}},
 {'name': 'DivX', 'ipo': {'valuation_amount': 160000000}},
 {'name': 'QuinStreet', 'ipo': {'valuation_amount': 140000000}},
 {'name': 'Geeknet', 'ipo': {'valuation_amount': 134000000}},
 {'name': 'Salesforce', 'ipo': {'valuation_amount': 110000000}},
 {'name': 'JumpTV', 'ipo': {'valuation_amount': 100000000}},
 {'name': 'EnerNOC', 'ipo': {'valuation_amount': 95500000}},
 {'name': 'Meru Networks', 'ipo': {'valuation_amount': 66600000}},
 {'name': 'Real Goods Solar', 'ipo': {'valuation_amount': 55000000}},
 {'name': 'Global Water', 'ipo': {'valuation_amount': 50000000}},
 {'name': 'Pironet', 'ipo': {'valuation_amount': 44000000}},
 {'name': 'Pironet', 'ipo': {'valuation_amount': 44000000}},
 {'name': 'Inuvo', 'ipo': {'valuation_amount': 30000000}},
 {'name': 'Inuvo', 'ipo': {'valuation_amount': 30000000}},
 {'name': 'Energy and Power Solutions', 'ipo': {'valuation_amount': 25000000}},
 {'name': 'Vringo', 'ipo': {'valuation_amount': 11003200}},
 {'name': 'GT Solar', 'ipo': {'valuation_amount': 5000000}},
 {'name': 'DeNA', 'ipo': {'valuation_amount': 117900}},
 {'name': 'DeNA', 'ipo': {'valuation_amount': 117900}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [27]:
list(db['Companies'].find({'number_of_employees':{'$gte':0}}, sort=[('number_of_employees',-1)],projection={'name':1,'_id':0,'number_of_employees':1},limit=10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [28]:
list(db['Companies'].find({'founded_month':{'$gte':7}}, projection={'name':1,'_id':0,'founded_month':1},limit=10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies that have been 'deadpooled' after the third year.

In [30]:
list(db['Companies'].find({'deadpooled_year':{'$gt':3}}, projection={'name':1,'_id':0,'deadpooled_year':1},limit=10))

[{'name': 'Omnidrive', 'deadpooled_year': 2008},
 {'name': 'Babelgum', 'deadpooled_year': 2013},
 {'name': 'Sparter', 'deadpooled_year': 2008},
 {'name': 'Thoof', 'deadpooled_year': 2013},
 {'name': 'Mercora', 'deadpooled_year': 2008},
 {'name': 'Wesabe', 'deadpooled_year': 2010},
 {'name': 'Jangl SMS', 'deadpooled_year': 2008},
 {'name': 'Stickam', 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'deadpooled_year': 2008},
 {'name': 'EQO', 'deadpooled_year': 2012}]

### 13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000

In [33]:
list(db['Companies'].find(filter={'$and':[{'founded_year':{'$lt':2000}},{'acquisition.price_amount':{'$gt':10000000}}]},sort=[('acquisition.price_amount',-1)], projection={'_id':0,'name':1,'acquisition.price_amount':1,'founded_year':1}, limit=10))

[{'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000}},
 {'name': 'Navteq',
  'founded_year': 1985,
  'acquisition': {'price_amount': 8100000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'Pixar',
  'founded_year': 1986,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'LSI',
  'founded_year': 1980,
  'acquisition': {'price_amount': 6600000000}},
 {'name': 'National Semiconductor',
  'founded_year': 1959,
  'acquisition': {'price_amount': 6500000000}},
 {'name': 'aQuantive',
  'founded_year': 1997,
  'acquisition': {'price_amount': 6400000000}},
 {'name': 'Siebel Systems',
  'founded_year': 1993,
  'acquisition': {'price_amount': 5850000000}},
 {'name': 'Sybase',
  'founded_year': 1984,
  'acquisition': {'price_amount': 5800000000}},
 {'name': 'Affiliated Computer Services',
  'founded_year': 1988,
  'acquisition': {'price_amount': 5750000000}}]

### 14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their `name` and `acquisiton` field.

In [34]:
 list(db['Companies'].find(filter={'acquisition.acquired_year':{'$gt':2015}},sort=[('acquisition.price_amount',-1)], projection={'_id':0,'name':1,'acquisition':1}, limit=10))

[]

### 15. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [40]:
 list(db['Companies'].find(filter={'founded_year':{'$gt':0}},sort=[('founded_year',-1)], projection={'_id':0,'name':1,'founded_year':1}, limit=10))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013}]

### 16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `aquisition price` descendently. Limit the search to 10 documents.

In [43]:
 list(db['Companies'].find(filter={'founded_day':{'$lte':7}},sort=[('acquisition.price_amount',-1)], projection={'_id':0,'name':1,'founded_day':1,'acquisition.price_amount':1}, limit=10))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 17. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascendant order.

In [44]:
list(db['Companies'].find(filter={'$and':[{'category_code':'web'},{'number_of_employees':{'$gt':4000}}]},sort=[('number_of_employees',1)], limit=10, projection={'_id':0,'name':1,'number_of_employees':1}))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.

In [45]:
list(db['Companies'].find(filter={'$and':[{'acquisition.price_currency_code':'EUR'},{'acquisition.price_amount':{'$gt':10000000}}]},sort=[('acquisition.price_amount',-1)], limit=10, projection={'_id':0,'name':1,'acquisition.price_amount':1}))

[{'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}}]

### 19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [46]:
 list(db['Companies'].find(filter={'acquisition.acquired_month':{'$lte':3}},sort=[('acquisition.acquired_month',1)], projection={'_id':0,'name':1,'acquisition':1}, limit=10))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'Ticketmaster',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.iac.com/index/overview/overview_history.html',
   'source_description': '',
   'acquired_year': 2003,
   'acquired_month': 1,
   'acquired_day': None,
   'acquiring_company': {'name': 'IAC', 'permalink': 'iac'}}},
 {'name': 'Zenfolio',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://corporate.art.com/media/media_releases_20130107.html',
   'source_description': 'Art.com Inc. Acquires Zenfolio',
   'acquired_year': 2013,
   'acquired_month': 1,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Art.com', 'permalink': 'art-com'}}},
 {'name': 'BillMonk',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://billmonk.wordpress.com/2007/01/30/billmonk-is-now-an-obopay-company-settle-up-online/',
   'source_description': 'BillMonk is now an Obopay company! Settle up online.',
   'acquired_year': 2007,
   'acquired_month': 1,
   'acquired_day': 30,
   'acquiring_company': {'name': 'obopay', 'permalink': 'obopay'}}},
 {'name': 'Flock',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/05/zynga-to-acquire-flock-the-social-browser-that-you-never-used/',
   'source_description': '',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': None,
   'acquiring_company': {'name': 'Zynga', 'permalink': 'zynga'}}},
 {'name': 'Six Apart',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://techcrunch.com/2011/01/24/sayonara-six-apart-brand-and-six-apart-japan/',
   'source_description': 'Sayonara Six Apart Brand and Six Apart Japan',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'Infocom', 'permalink': 'infocom'}}},
 {'name': 'Filtrbox',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2010/01/07/jive-software-acquires-social-media-monitoring-startup-filtrbox/',
   'source_description': 'Jive Software Acquires Social Media Monitoring Startup Filtrbox',
   'acquired_year': 2010,
   'acquired_month': 1,
   'acquired_day': 7,
   'acquiring_company': {'name': 'Jive Software',
    'permalink': 'jive-software'}}},
 {'name': 'Buzzmetrics',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': None,
   'source_description': None,
   'acquired_year': 2006,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'Quattro Wireless',
  'acquisition': {'price_amount': 275000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2010/01/04/daily21-Quattro-Wireless-acquired-by-Apple.html',
   'source_description': 'Quattro Wireless acquired by Apple',
   'acquired_year': 2010,
   'acquired_month': 1,
   'acquired_day': 5,
   'acquiring_company': {'name': 'Apple', 'permalink': 'apple'}}}]

### 20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [47]:
list(db['Companies'].find(filter={'$and':[{'founded_year':{'$gt':2000}},{'founded_year':{'$lt':2010}},{'acquisition.acquired_year':{'$gt':2011}}]},sort=[('founded_year',-1)], limit=10, projection={'_id':0,'name':1,'acquisition.acquired_year':1,'founded_year':1}))

[{'name': 'Trunkt',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'HyperWeek',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Shutl',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Infochimps',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Wefollow',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2013}},
 {'name': '1000 Markets',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'gdgt',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Pixable',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Aragon Pharmaceuticals',
  'founded_year': 2009,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Uptake',
  'founded_year': 2008,
  'acquisition': {'acquired_year': 2012}}]